* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    background-color: #F6F6F7;
}

.container{
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 442px;
    height: 551px;
    padding: 20px;
}

.header-container{
    text-align: center;

    .heading{
        color: #FF6B82;
        font-weight: 700;
        font-size: large;
    }
}

.parent-coupon-container{
    margin-top: 1rem;
    display: flex;
    width: 100%;
}
    .child-coupon-container-1{ 
        border: 1px solid;
        border-radius: 12px 0px 0px 12px;
        width: 13%;
        border-style: hidden;
        background-color: #FF6B82;
    }

    .child-coupon-container-1 > p{
        text-align: center;
        margin: 14px;
        color: #FFFFFF;
        width: 64%;
        display:flex;
        flex-direction: column
    }

    .child-coupon-container-2{
        border: 1px solid rgb(214, 214, 214);
        border-radius: 0px 12px 12px 0px;
        width: 100%;
        height: max-content;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
    
    .child-coupon-container-2:hover{
        background-color: #fff3f5;
    }

#coupon-radio{
    accent-color: #FF6B82;
    cursor: pointer;
}

.radio-button{
    margin: 0.8rem 0rem 1rem 0.5rem;
    display: flex;
}

label[for="coupon-radio"]{
    display: flex;
    flex-direction: column;
    
    .coupon-title, .coupon-amount{
        display: flex;
        margin: 0px 0px 2px 16px;
        cursor: pointer;
    }

    .discount{
        background-color: #FF6B82;
        color: #FFFFFF;
        margin-left: 5px;
        padding: 0px 3px;
    }
    
    .discount-amount{
        margin-left: 5px;
        color: #9F9F9F;
        text-decoration: line-through
    }
}

.amount{
    font-weight: 600;
}

label[for="coupon-radio"] > div > p {
    margin: 0px;
}

table{
    margin: 0rem 0rem 1rem 0.8rem;
    width: 70%;
}

td{
    padding: 0px 5px;
}

select{
    width: -webkit-fill-available;
    margin-left: 12px;
}

.dropdown-parent {
    display: none;
}

.add-to-cart{
    text-align:center; 
    background-color: #FF6B82; 
    width: 100%; 
    border-style: hidden; 
    border-radius: 4px; 
    padding: 1rem 0rem; 
    color: white;
    margin-top: 1rem;
    font-size: medium
}

.exampleContainer1{
    margin-top: 1rem;
    width:100%;
    display:flex; 
    justify-content: space-between;
}

.exampleContainer2{
    width: 100%;
}

.free-delivery{
    margin: 0px;
    color:#FF6B82
}

.total{
    margin: 0px 
}

.dashed-amount{
    text-decoration: line-through;
    color: lightslategray;
}

.most_popular{
    color:#FF6B82;
    text-align: center;
    line-height: 54px;
    margin-left: 30px;
    font-weight: 600;
}

.powered-by{
    margin-top: 5px;
    font-weight: 600;
}

.poweredBy-label{
    color: #c9c9c9;
}

.pumper{
    color: red;
}
